<h1>Results</h1>
<% @screws.each do |screw| %>
  <a href="/screws/<%= screw.id %>"><%= "#{screw.size} x #{screw.length}" %></a>
<% end %>

<script>
$.idleTimer(60000);

$(document).bind("idle.idleTimer", function(){
  document.location = "/"
});


$(document).bind("active.idleTimer", function(){
 // function you want to fire when the user becomes active again
});

enableBarcodeReading();
</script>