<table border="1">
  <tr>
    <% Drawer.numberOfColumns.times.each do |column| %>
      <td><%= column+1 %></td>
    <% end %>
  </tr>
  <% Drawer.numberOfRows.times.each do |row| %>
    <tr>
      <% Drawer.numberOfColumns.times.each do |column| %>
        <% if Drawer.where(:row => row+1, :column => column+1).count > 0 %>
          <td><a href="/drawers/<%= Drawer.where(:row => row+1, :column => column+1).first.id %>"><%= Drawer.where(:row => row+1, :column => column+1).first.label %></a></td>
        <% else %>
          <td></td>
        <% end %>
      <% end %>
    </tr>
  <% end %>
</table>
