<h1><%= @drawer.label %></h1>
<h3>Items</h3>
<% if @drawer.items.count == 0 %>
  <p>No items entered</p>
<% end %>
<ul>
  <% @drawer.items.each do |item| %>
    <a href="/items/<%= item.id %>"><%= item.name %></a>
  <% end %>
</ul>
  
<script>
$.idleTimer(10000);

$(document).bind("idle.idleTimer", function(){
  document.location = "/"
});


$(document).bind("active.idleTimer", function(){
 // function you want to fire when the user becomes active again
});
</script>