<h3>User</h3>
<p>User: <%= @user.full_name %></p>
<p>Email: <%= @user.email if @user.email %></p>
<p>Roles: <%= @user.roles.join(', ') if @user.roles %></p>
<table border="1">
  <thead>
    <tr>
      <th>Mill</th>
      <th>CNC Mill</th>
      <th>Lathe</th>
      <th>Drop Bandsaw (Horizontal Bandsaw)</th>
      <th>Vertical Bandsaw</th>
      <th>Drill press</th>
      <th>Welder</th>
      <th>Grinder</th>
      <th>Tool Sharpener</th>
      <th>Jigsaw</th>
      <th>Chop Saw</th>
  </thead>
  <tbody>
    
  </tbody>
</table>