<!--<div class="remote">
  <input type="text" class="search" placeholder="Enter search term here..." style="width: 100%;"></input>
</div>-->

<style>
.twitter-typeahead{
     width: 100%;
}

.typeahead {
  width: 100%;
}

input {
  width: 100%;
}

.tt-dropdown-menu{
    width: 102%;
}
input.typeahead.tt-query{ /* This is optional */
    width: 300px !important;
}

#remote {
  width: 100%;
}

h2 {
  text-align: center;
}

.searchlink {
  width: 200px;
}
</style>
<center>
  <img style="width: 150px;" src="/assets/logo.png" />
</center>
<h1 style="text-align: center;">BarnOwl Part Management System</h1><br>
<%= form_tag "/home/search/barcode", method: "POST" do %>
  <div id="remote" style="width: 100%;">
    <input class="typeahead" name="q" type="text" placeholder="Enter search term here..."></div>
  </div>
  <input style="visibility: hidden; position: fixed;" type="submit">
  <h2>Or</h2>
  <center>
    <a class="searchlink btn btn-info" href="search/screws">Search for Screws</a>
  </center>
<% end %>
<script>
var results = new Bloodhound({
  datumTokenizer: Bloodhound.tokenizers.obj.whitespace('label'),
  queryTokenizer: Bloodhound.tokenizers.whitespace,
  remote: '/home/autocomplete?q=%QUERY'
});
 
results.initialize();
 
$('#remote .typeahead').typeahead(null, {
  name: 'results',
  displayKey: 'label',
  items: 9999,
  source: results.ttAdapter()
}).on('typeahead:selected', function($e, data) {
  window.location = "/" + data.model + "s/" + data._id;
});

$(".typeahead").focusout(function(){
  $(this).focus();
});
$(".typeahead").focus();
</script>