<!--<div class="remote">
  <input type="text" class="search" placeholder="Enter search term here..." style="width: 100%;"></input>
</div>-->

<style>
.twitter-typeahead{
     width: 100%;
}

.typeahead {
  width: 100%;
}

input {
  width: 100%;
}

.tt-dropdown-menu{
    width: 102%;
}
input.typeahead.tt-query{ /* This is optional */
    width: 300px !important;
}

#remote {
  width: 100%;
}
</style>
<center>
  <img style="width: 150px;" src="/assets/logo.png" />
</center>
<h1 style="text-align: center;">BarnOwl Part Management System</h1><br>
<h4>Choose a screw size</h4>
<table>
  <tr>
    <td><label><input type="checkbox"> #6</input></label></td>
    <td><label><input type="checkbox"> #8</input></label></td>
  </tr>
  <tr>
    <td><label><input type="checkbox"> #10</input></label></td>
    <td><label><input type="checkbox"> #12</input></label></td>
  </tr>
  <tr>
    <td><label><input type="checkbox"> 1/4</input></label></td>
    <td><label><input type="checkbox"> 5/16</input></label></td>
  </tr>
  <tr>
    <td><label><input type="checkbox"> 3/8</input></label></td>
    <td><label><input type="checkbox"> 7/16</input></label></td>
  </tr>
  <tr>
    <td><label><input type="checkbox"> 1/2</input></label></td>
    <td><label><input type="checkbox"> 9/16</input></label></td>
  </tr>
  <tr>
    <td><label><input type="checkbox"> 5/8</input></label></td>
    <td><label><input type="checkbox"> 3/4</input></label></td>
  </tr>
  <tr>
    <td><label><input type="checkbox"> 7.8</input></label></td>
    <td><label><input type="checkbox"> 1</input></label></td>
  </tr>
  <tr>
    <td><label><input type="checkbox"> 1-1/8</input></label></td>
    <td><label><input type="checkbox"> 1-1/4</input></label></td>
  </tr>
</table>
<h4>Choose a screw length</h4>
<table>
  <tr>
    <td><label><input type="checkbox"> 3/8"</input></label></td>
    <td><label><input type="checkbox"> 7/16"</input></label></td>
  </tr>
  <tr>
    <td><label><input type="checkbox"> 1/2"</input></label></td>
    <td><label><input type="checkbox"> 9/16"</input></label></td>
  </tr>
  <tr>
    <td><label><input type="checkbox"> 5/8"</input></label></td>
    <td><label><input type="checkbox"> 3/4"</input></label></td>
  </tr>
  <tr>
    <td><label><input type="checkbox"> 7/8"</input></label></td>
    <td><label><input type="checkbox"> 1"</input></label></td>
  </tr>
  <tr>
    <td><label><input type="checkbox"> 1-1/8"</input></label></td>
    <td><label><input type="checkbox"> 1-1/4"</input></label></td>
  </tr>
  <tr>
    <td><label><input type="checkbox"> 1-3/8"</input></label></td>
    <td><label><input type="checkbox"> 1-1/2"</input></label></td>
  </tr>
  <tr>
    <td><label><input type="checkbox"> 1-5/8"</input></label></td>
    <td><label><input type="checkbox"> 1-3/4"</input></label></td>
  </tr>
  <tr>
    <td><label><input type="checkbox"> 1-7/8"</input></label></td>
    <td><label><input type="checkbox"> 2"</input></label></td>
  </tr>
  <tr>
    <td><label><input type="checkbox"> 2-1/4"</input></label></td>
    <td><label><input type="checkbox"> 2-1/2"</input></label></td>
  </tr>
  <tr>
    <td><label><input type="checkbox"> 2-3/4"</input></label></td>
    <td><label><input type="checkbox"> 3"</input></label></td>
  </tr>
  <tr>
    <td><label><input type="checkbox"> 3-1/4"</input></label></td>
    <td><label><input type="checkbox"> 3-1/2"</input></label></td>
  </tr>
  <tr>
    <td><label><input type="checkbox"> 3-3/4"</input></label></td>
    <td><label><input type="checkbox"> 4"</input></label></td>
  </tr>
  <tr>
    <td><label><input type="checkbox"> 4-1/4"</input></label></td>
    <td><label><input type="checkbox"> 4-1/2"</input></label></td>
  </tr>
  <tr>
    <td><label><input type="checkbox"> 4-3/4"</input></label></td>
    <td><label><input type="checkbox"> 5"</input></label></td>
  </tr>
  <tr>
    <td><label><input type="checkbox"> 5-1/4"</input></label></td>
    <td><label><input type="checkbox"> 5-1/2"</input></label></td>
  </tr>
  <tr>
    <td><label><input type="checkbox"> 5-3/4"</input></label></td>
    <td><label><input type="checkbox"> 6"</input></label></td>
  </tr>
  <tr>
    <td><label><input type="checkbox"> 6-1/4"</input></label></td>
    <td><label><input type="checkbox"> 6-1/2"</input></label></td>
  </tr>
  <tr>
    <td><label><input type="checkbox"> 6-3/4"</input></label></td>
    <td><label><input type="checkbox"> 7"</input></label></td>
  </tr>
  <tr>
    <td><label><input type="checkbox"> 7-1/4"</input></label></td>
    <td><label><input type="checkbox"> 7-1/2"</input></label></td>
  </tr>
  <tr>
    <td><label><input type="checkbox"> 7-3/4"</input></label></td>
    <td><label><input type="checkbox"> 8"</input></label></td>
  </tr>
  <tr>
    <td><label><input type="checkbox"> 8-1/4"</input></label></td>
    <td><label><input type="checkbox"> 8-1/2"</input></label></td>
  </tr>
  <tr>
    <td><label><input type="checkbox"> 8-3/4"</input></label></td>
    <td><label><input type="checkbox"> 9"</input></label></td>
  </tr>
  <tr>
    <td><label><input type="checkbox"> 9-1/4"</input></label></td>
    <td><label><input type="checkbox"> 9-1/2"</input></label></td>
  </tr>
  <tr>
    <td><label><input type="checkbox"> 9-3/4"</input></label></td>
    <td><label><input type="checkbox"> 10"</input></label></td>
  </tr>
  <tr>
    <td><label><input type="checkbox"> 10-1/2"</input></label></td>
    <td><label><input type="checkbox"> 11"</input></label></td>
  </tr>
  <tr>
    <td><label><input type="checkbox"> 11-1/2"</input></label></td>
    <td><label><input type="checkbox"> 12"</input></label></td>
  </tr>
  <tr>
    <td><label><input type="checkbox"> 14"</input></label></td>
    <td><label><input type="checkbox"> 16"</input></label></td>
  </tr>
  <tr>
    <td><label><input type="checkbox"> 18"</input></label></td>
    <td><label><input type="checkbox"> 20"</input></label></td>
  </tr>
</table>
<div id="results">
  
</div>